body {
  background-color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  margin: 0;
}

.search-input::placeholder {
  color: #888;
  
}

.custom-card {
  position: relative;
  width: 220px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blur-overlay {
  position: absolute;
  inset: 0;
  /* background-image: url("https://images.unsplash.com/photo-1649312555826-e42566d05d15?auto=format&fit=crop&q=80&w=387"); */
  background-size: cover;
  background-position: center bottom;
  filter: blur(10px);
  z-index: 1;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
  color: #fff;
}

.card-content h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.card-content p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.4;
}
